<div class="ui inverted blue menu">
  <h3 class="header item"><i class="child icon"></i> Deployment Tool</h3>
  <a class="item" routerLink="home" routerLinkActive="active"><i class="icon home"></i> Home</a>
  <a class="item" routerLink="projects" routerLinkActive="active"><i class="icon cubes"></i> Projects</a>
  <a class="item" routerLink="users" routerLinkActive="active"><i class="icon users"></i> Users</a>
  <a class="item" routerLink="settings" routerLinkActive="active"><i class="icon setting"></i> Settings</a>
  <div class="right menu">
    <a class="item" routerLink="profile" routerLinkActive="active"><i class="icon privacy"></i> RKhabibullin</a>
    <a class="item"> <i class="icon sign out"></i> Logout</a>
  </div>
</div>
