<div class="ui cards">
  <div class="ui raised card">
    <div class="content">
      <div class="header">Create</div>
      <div class="meta">
        Create new project: REST service or Task
      </div>
    </div>
    <div class="extra content">
      <button class="ui green button" routerLink="/tasks/create">Go</button>
    </div>
  </div>

  <div class="ui raised card">
    <div class="content">
      <div class="header">Deploy</div>
      <div class="meta">Update or rollback newer version to the cluster</div>
    </div>
    <div class="extra content">
      <button class="ui green button" routerLink="/tasks/deploy">Go</button>
    </div>
  </div>

  <div class="ui raised card">
    <div class="content">
      <div class="header">Execute</div>
      <div class="meta">Run scheduled task on a node</div>
    </div>
    <div class="extra content">
      <button class="ui green button" routerLink="/tasks/execute">Go</button>
    </div>
  </div>

  <div class="ui raised card">
    <div class="content">
      <div class="header">Provision</div>
      <div class="meta">
        Add new node to the cluster
      </div>
    </div>
    <div class="extra content">
      <button class="ui green button" routerLink="/tasks/provision">Go</button>
    </div>
  </div>

</div>
